{% extends "myauth/base.html" %}

{% block title %}
User #{{ user.pk }}
{% endblock title %}

{% block body %}
    <h1>User <strong>{{ user.username }}</strong></h1>
    <div>
        {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}" width="150">
            {% else %}
                <h6>No avatar uploaded yet</h6>
            {% endif %}

            {% if can_edit %}
            <div>
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <input type="file" name="avatar" accept="image/*">
                    <br>
                    <button type='submit'>Обновить аватар</button>
                </form>
            </div>
            {% endif %}

        <p>Username: {{ user.username }}</p>
        <p>Firtname: {{ user.first_name }}</p>
        <p>Lastname: {{ user.last_name }}</p>
        <p>E-mail: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
{% endblock body %}

